<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>
    <header>
        <div style="display: flex; align-items: center ; color: black">
            <img th:src="@{/images/goal.png}">
            <h4>Progress Tracker</h4>
        </div>
        <div>
            Login
        </div>
    </header>
</body>
</html>